<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Credit num:</strong>
  <%= @user.credit_num %>
</p>

<p>
  <strong>Credit exp date:</strong>
  <%= @user.credit_exp_date %>
</p>

<p>
  <strong>Sec code:</strong>
  <%= @user.sec_code %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
