<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :proj_name %>
    <%= form.text_field :proj_name, id: :project_proj_name %>
  </div>

  <div class="field">
    <%= form.label :proj_description %>
    <%= form.text_area :proj_description, id: :project_proj_description %>
  </div>

  <div class="field">
    <%= form.label :goal_funding %>
    <%= form.number_field :goal_funding, id: :project_goal_funding %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :project_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :project_end_date %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :project_image_url %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.text_field :active, id: :project_active %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :project_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
